* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  background-image: linear-gradient(to right bottom, #f9fafb, #d2d6db);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0px;
}


/* Testimonial card */
section {
  max-width: 340px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 1px 2px -1px rgb(0 0 0 / 0.10), 0px 1px 3px 0 rgb(0 0 0 / 0.10);
}

.profile {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.profile-thumbnail img {
  width: 48px;
  height: 48px;
  object-fit: cover;
}

.profile-name {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: start;
  color: #171717;
}

.username {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #525252;
}

.testimonial-comment {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #525252;
}

/* Credits */
.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}
